input[type="date"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="text"]
	background		$white
	border			none
	box-shadow		none
	display			block
	font-size		1rem
	padding			0.5 * $base-spacing-unit
	width			100%

label
	cursor			pointer

:disabled ~ label
	cursor			not-allowed