@font-face
	font-family "Viking"
	src 		url("fonts/VIKING-N.woff")

$base-font-size =			14px
$body-font =				"Viking", Helvetica-Neue, sans-serif
$headings-font =			$body-font
$monospace-font =			Menlo, Consolas