extends templates/master

block title
	| Project

block styles

block content

	h1 Project

	h2 Component:
	include components/component

	h2 React Component:
	.js-my-app

	a(href="/styles", title="Go to the styleguide")
		small styleguide

block scripts