// Base styles

html,
body
	color					$body-text-colour
	font-family				$body-font
	font-kerning			auto
	font-size				14px
	font-smooth				always
	font-weight				400
	letter-spacing			0.5px
	text-rendering			optimizeLegibility
	-webkit-font-smoothing	subpixel-antialiased

a
	color					$blue
	
	+ActiveFocusHover()
		color				darken($blue, 20%)
		
h1,
h2,
h3,
h4,
h5,
h6
	color					$headings-colour
	font-family				$headings-font

// Helper classes

.caps
	text-transform			uppercase

.centred
	text-align				center

.small
	font-size				0.85em

.subheading
	font-size				0.5em
	margin					0.3em 0