// ANIMATIONS

$fast-transition =		0.3s all ease-in-out

// COLOURS

$yellow =				#fcd900
$blue =					#25a8e0
$green =				#75bb49
$red =					#d52b1e
$white =				#ffffff
$black =				#000000
$dark-grey-1 =			#252525
$dark-grey-2 =			#333333
$medium-grey =			#707070
$light-grey-1 =			#e5e5e5
$light-grey-2 =			#f2f2f2
$light-grey-3 =			#fafafa

$body-background =		$white
$body-text-colour =		$dark-grey-1
$headings-colour =		$black

// LAYOUT

$base-spacing-unit =	1.5em
$border-radius =		0.25em

$gutter-width =			1rem
$outer-margin =			2rem
$gutter-compensation =	calc($gutter-width / 2 * -1)
$half-gutter-width =	calc($gutter-width / 2)
$screen-xs-min =		480
$screen-sm-min =		768
$screen-md-min =		992
$screen-lg-min =		1200
$container-sm =			calc(45rem + $gutter-width)
$container-md =			calc(60rem + $gutter-width)
$container-lg =			calc(70rem + $gutter-width)

$very-small-bp =		"only screen and (min-width: " + $screen-xs-min + "em)"
$small-bp =				"only screen and (min-width: " + $screen-sm-min + "em)"
$medium-bp =			"only screen and (min-width: " + $screen-md-min + "em)"
$large-bp =				"only screen and (min-width: " + $screen-lg-min + "em)"

// TYPOGRAPHY

$base-font-size =		16
$body-font =			Helvetica-Neue, sans-serif
$headings-font =		$body-font
$monospace-font =		Menlo, Consolas